{% extends "base.html" %}
{% block content %}
<h1> Hello Everyone join me👋👋👋 </h1>

<form method= 'POST' action="{% url 'join' %}">
    {% csrf_token %}
    <div class="mb-3">

        <label for="exampleInputfname" class="form-label">First Name</label>
        <input type="text" class="form-control" id="exampleInputfname" aria-describedby="emailHelp" placeholder="enter your first name" name='fname'>
       
      </div>

      <div class="mb-3">

        <label for="exampleInputlname" class="form-label">Last Name</label>
        <input type="text" class="form-control" id="exampleInputlname" aria-describedby="emailHelp" placeholder="enter your last name" name='lname'>
       
      </div>


      <div class="mb-3">

        <label for="exampleInputage" class="form-label">Age</label>
        <input type="number" class="form-control" id="exampleInputage" aria-describedby="emailHelp" placeholder="enter your age" name='age'>
       
      </div>



      <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Email address</label>
      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="enter your email" name='email'>
     
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Password</label>
      <input type="password" class="form-control" id="exampleInputPassword1" placeholder="enter your password" name='passwd'>
    </div>
    
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>

{% endblock %}